html, body{

}
nav{
}
h1, h2, h3{
  font-family: 'Lobster', cursive;
}
hr{
  width: 25%;
  border-top: 2px solid #2d2d2d;
  margin-top: 10px;
  margin-bottom: 30px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(166, 166, 166, 1);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(166, 166, 166, 1);
}
#pageContainer{
  width: 300px;
}
#mainContainer{
  background: #ebebeb;
/* background: linear-gradient(90deg, rgba(168,168,168,.8) 17%, rgba(182, 182, 182, 0.8) 92%); */
  padding-top: 15vh;
  padding-bottom: 10vh;
  padding-top: 50px;
  padding-bottom: 100px;
}
#mainWrapper{
  /* background-image: url("../../assets/img/compBkgd.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover; */
}
#amountTableContainerOne, #amountTableContainerTwo{
  height: 200px;
  overflow-y: scroll;
  background-color: white;
}
#rowContainer{
  width: 500px;
}
#tableTwoColum{
  display: none;
}

#firstFromCol{
  margin-bottom: 60px;
}
#tableTwoColum, #tableTwoColum{
  margin-top: 60px;
  margin-bottom: 60px;
}

#welcomePic{
  width: 200px;
}



/* TODO: find a way to add some annimation when you switch the forms */
.d-none{
  transition: 10s ease !important;
}

.d-none-new{
  transition: 10s ease;

}


.col-gutter-md{
  margin-left: 50px;
  margin-right: 50px;
}
.bg-table-light{
  background: rgba(241, 241, 241, 0.95);
}
